<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target xsi:type="Console" name="logconsole" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
    <target xsi:type="File" name="logfile" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" fileName="unittests.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
